/* Navbar styles */
header {
  width: 100%;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
  z-index: 200;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  list-style: none;
}

nav ul li .navLink {
  color: var(--brown-color);
  text-decoration: none;
  position: relative;
  font-size: 25px;
  padding: 10px;
  margin: 0;
}

.navLink:hover {
  color: #7a3b00;
}

nav ul li .navLink:after {
  content: "";
  height: 2px;
  background: #964b00;
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s;
}

nav ul li .navLink:hover:after {
  width: 100%;
}

.heading {
  text-align: center;
  color: var(--orange);
}

#btn {
  border: 2px solid hsla(9, 0%, 0%, 0.8) !important;
}

#btn:hover {
  color: var(--footer-color) !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar.open {
    display: block;
    width: 80%;
    background: hsla(0, 10%, 3%, 0.9);
    height: 100vh;
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .navbar ul {
    display: block;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 80%;
    margin: auto;
  }

  .navbar h2 {
    display: none;
  }

  .navbar ul li {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar ul li .navLink {
    font-size: 1.4em;
  }

  .span_1 {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 5px;
    font-size: 25px;
    cursor: pointer;
  }

  .close-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
  }

  .navbar.open .close-icon {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .span_1 {
    display: none;
  }

  .close-icon {
    display: none;
  }
}

.canvas {
  margin-left: auto;
  margin-right: auto;
}
